//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 11 10:08:53 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "data" LOCATE = SITE "N10" LEVEL 1;
COMP "xDir" LOCATE = SITE "G1" LEVEL 1;
COMP "yDir" LOCATE = SITE "E11" LEVEL 1;
COMP "zDir" LOCATE = SITE "V11" LEVEL 1;
COMP "latch" LOCATE = SITE "T12" LEVEL 1;
COMP "xStep" LOCATE = SITE "C12" LEVEL 1;
COMP "yStep" LOCATE = SITE "J6" LEVEL 1;
COMP "zStep" LOCATE = SITE "M10" LEVEL 1;
COMP "reset" LOCATE = SITE "B8" LEVEL 1;
COMP "timesUp" LOCATE = SITE "G11" LEVEL 1;
COMP "clkOut" LOCATE = SITE "V12" LEVEL 1;
COMP "startSignal" LOCATE = SITE "F11" LEVEL 1;
SCHEMATIC END;

